{% extends 'base.html.twig' %}

{% block title %}Edit Password
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-12">

				<div class="mt-2"></div>

				<form class="file-upload" method="post">
					{{ form_start(passwordEditForm) }}

					<div class="row mb-5 gx-5">

						<div class="col-xxl-10">
							<div class="bg-secondary-soft px-4 py-5 rounded">
								<div class="row g-6" style="display:flex;flex-direction:column;font-size:18px">
									<h4 class="my-4">Change Password</h4>

									<div class="col-md-5">
										{{ form_row(passwordEditForm.oldPassword) }}

									</div>

									<div
										class="col-md-4">
										{# {{ form_row(passwordEditForm.password) }} #}
										{{ form_row(passwordEditForm.password) }}

									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="gap-3 d-md-flex justify-content-md-end text-center">
						<button type="button" class="btn btn-danger btn-lg">Delete profile</button>
						<button type="submit" class="btn btn-primary btn-lg">Update profile</button>
					</div>
					{{ form_end(passwordEditForm) }}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
