{% extends 'base.html.twig' %}

{% block title %}Liste des plats!{% endblock %}

{% block body %}

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Menu</th>
                <th>Cout</th>
                <th>Calories</th>
                <th>Ingredient</th>
                <th>Régime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.id }}</td>
                    <td>{{ menu.nomPlat }}</td>
                    <td>{{ menu.cout }} dinars</td>
                    <td>{{ menu.nbrCalories }} calories</td>
                    <td>{{ menu.ingredients }}</td>
                    <td>{{ menu.regime }}</td>
                    <td>
                        <a href="{{ path('menu_edit', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
                        <a href="{{ path('menu_show', {'id': menu.id}) }}" class="btn btn-info">Consulter</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('menu_delete', {'id': menu.id}) }}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=5>
                        <p> aucun menu trouvée </p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('menu_add') }}" class="btn btn-primary mb-2">Ajouter menu</a>
    {% endif %}
</div>

{% endblock %}
