{% extends "base.html.twig" %}

{% block body %}

<div class="container mt-5">
    <h2>Détails du plats</h2>

    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">{{ menu.id }}</dd>

        <dt class="col-sm-2">Nom de Plat</dt>
        <dd class="col-sm-10">{{ menu.nomPlat }}</dd>

        <dt class="col-sm-2">Cout</dt>
        <dd class="col-sm-10">{{ menu.cout }}</dd>

        <dt class="col-sm-2">Nombre de calories</dt>
        <dd class="col-sm-10">{{ menu.nbrCalories }}</dd>
        
        <dt class="col-sm-2">Ingredients</dt>
        <dd class="col-sm-10">{{ menu.ingredients }}</dd>

        <dt class="col-sm-2">Nom Régime</dt>
        <dd class="col-sm-10">{{ menu.regime }}</dd>
    </dl>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('menu_delete', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
    {% endif %}
    <a href="{{ path('menu_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>

{% endblock %}
