{# templates/diet/recommendation_form.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Calculation Calories{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h1 class="mb-4">Diet Recommendation Form</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        <div class="form-group">
            {{ form_label(form.weight, 'Weight', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.weight, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.height, 'Height', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.height, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.age, 'Age', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {% if app.user %}
            <p>Your Information:</p>
            <ul>
                <li>Email: {{ app.user.email }}</li>
                <li>Username: {{ app.user.username }}</li>
                <li>weight: {{ app.user.weight }}</li>
                <li>height: {{ app.user.height }}</li>
                <li>age: {{ app.user.age }}</li>
                {# Add more user properties as needed #}
            </ul>
        {% endif %}

        {{ form_end(form) }}
    </div>
{% endblock %}
