{% extends 'base.html.twig' %}

{% block title %}Diet Program
{% endblock %}

{% block body %}

	<div class="container mt-5 " style="min-height:1000px">
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Durée</th>
					<th>Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for regim in regimes %}
					<tr>
						<td>{{ regim.nomRegime }}</td>
						<td>{{ regim.duree }}
							mois</td>
						<td>{{ regim.type }}</td>
						<td style="display:flex;gap:5px">
							<a href="{{ path('regime_show_user', {'id': regim.id}) }}" class="btn btn-info">Consulter</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ knp_pagination_render(regimes) }}
	</div>

{% endblock %}
