{% extends 'base.html.twig' %}

{% block title %}Liste de regime!{% endblock %}

{% block body %}

<div class="container mt-5 " style="min-height:1000px">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Durée</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for regim in regimes %}
                <tr>
                    <td>{{ regim.id }}</td>
                    <td>{{ regim.nomRegime }}</td>
                    <td>{{ regim.duree }} mois</td>
                    <td>{{ regim.type }}</td>
                    <td>
                        <a href="{{ path('regime_show', {'id': regim.id}) }}" class="btn btn-info">Consulter</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('regime_edit', {'id': regim.id}) }}" class="btn btn-warning">Modifier</a>
                            <a href="{{ path('regime_delete', {'id': regim.id}) }}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {{ knp_pagination_render(regimes) }}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('regime_add') }}" class="btn btn-primary mb-2">Ajouter un régime</a>
    {% endif %}
</div>

{% endblock %}
